paper-button.colored {
  color: #4285f4;
  fill: #4285f4;
}

paper-button[raisedButton].colored {
  background: #4285f4;
  color: #fff;
}

paper-button[raisedButton].colored #ripple,
paper-button[raisedButton].colored::shadow #ripple {
  color: #2a56c6;
}

paper-button[raisedButton].colored #focusBg,
paper-button[raisedButton].colored::shadow #focusBg {
  background: #3367d6;
}


  
paper-button.custom > core-icon {
  margin-right: 4px;
}

paper-button.hover:hover {
  background: #eee;
}

paper-button.blue-ripple::shadow #ripple {
  color: #4285f4;
}
